/* 변호사 회원가입 */

#content {
    width: 800px;
    margin: 50px auto;
    position: relative;
    z-index: 5;
  }
  
  #content .container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .login_box {
    width: 748px;
    margin: 0 auto;
    background-color: #fafafa;
    border: 0.5px solid #ececec;
    padding: 50px;
    margin-bottom: 30px;
  }
  
  .exp1 {
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  
  .exp2 {
    font-size: 16px;
    margin-bottom: 35px;
    color: #656566;
  }
  
  .login_input {
    width: 80%;
  }
  
  .login_username_div,
  .login_password_div {
    width: 100%;
    display: flex;
  }
  
  .login_username_div {
    margin-bottom: 8px;
  }
  
  #username,
  #password {
    width: 75%;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid #bac8ff;
    transition: 0.1s border-color;
    background: white !important;
  }
  
  #username:focus,
  #password:focus {
    border-color: #5c7cfa;
  }
  
  .form_label {
    font-size: 19px;
    width: 20%;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
  
  #login_form {
    display: flex;
  }
  
  #login_button {
    width: 20%;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    border: 1.5px solid #5c7cfa;
    background: white;
    color: #5c7cfa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #login_button:hover {
    background: #5c7cfa;
    color: white;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  
  
